##### Common #####
SERVER_PORT=8083
GRPC_PORT=9083
OAUTH2_ISSUER_URI=http://localhost:8083
##### Service Discovery #####
# Change for non-local environments
DISCOVERY_SERVER_URL=http://localhost:8761/eureka/
##### Database (PostgreSQL) #####
DATABASE_HOST=localhost
DATABASE_PORT=5432
# Set per environment (e.g., auth_db_dev, auth_db, auth_db_sbx, auth_db_prod)
DATABASE_NAME=auth_db
DATABASE_SCHEMA=public
DATABASE_USERNAME=postgres
DATABASE_PASSWORD=change_me
##### Redis #####
SPRING_DATA_REDIS_HOST=localhost
SPRING_DATA_REDIS_PORT=6379
REDIS_PASSWORD=
##### Flyway placeholders #####
SECURITY_DB_HOST=localhost
SECURITY_DB_PORT=5432
SECURITY_DB_NAME=security_db_dev
SECURITY_DB_USERNAME=postgres
SECURITY_DB_PASSWORD=postgres
SECURITY_DB_SCHEMA=public